*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: rgb(49, 49, 48) solid 1px;
    width: 320px;
    height: 170px;
    margin: auto;
    margin-top: 180px;
    border-radius: 5px;
    padding: .3em;

}

.titulo {
    font-size: small;
    color: teal;
    text-shadow: rgba(112, 128, 144, 0.479) 0px 1px;

}

.tela {
    cursor:text;
    border: 1px solid rgb(107, 106, 106);
    background-color: transparent;
    border-radius: 5px;
    text-align:end;
    width: 318px;
    height: 25px;
}

.tela h3 {
    padding-right: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;

}

.buttons button {
    width: 80px;
    height: 25px;
    
}

button {
    cursor: pointer;
    border: 1px solid rgb(108, 207, 202);
    width: 80px;
    height: 25px;
    border-radius: 3px;
    background-color: white;
    font-size:medium;
    color: rgb(95, 116, 98);
}

button:hover {
    background-color: rgb(181, 199, 196);
    color: rgb(46, 43, 43);
    transition: 0.8s;

}

.operators {
    border: 1px solid rgb(204, 233, 57);
    color: rgb(95, 116, 98);
}

#noneb {
    background-color: transparent;
    border: none;
}
